/build/
/dist/
/nbproject/private/
*.class
/05-Self-learning/UniversitySystem/target/
/05-Self-learning/RpgGame/target/
/02-Labs/FlowControl/target/
/03-Projects/StoreApp/target/
/03-Projects/TodoApp/target/
/04-Playground/GeminiTest/target/
/07-Assignments/FlowControlterative/target/
/05-Self-learning/ProblemSolvingGemini/target/
/05-Self-learning/ProblemSolvingGemini2/target/
